// function_panel setting   ------------------------
.function_panel {
  margin: 0.2em 0;
  padding: 0.5em 0 0.5em;
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.938rem;
  @include screen('mobile') {
    margin: 0.6em 0;
    padding: 0.5em 0 0.5em;
  }
  .share {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  .function {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
}

// function   ------------------------
$function_color: #666;
//可自訂顏色，或是自帶既有變數，但請注意背景色與字的對比度
//icon基本設定
%function_before {
  vertical-align: middle;
  content: '';
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
  display: inline-block;
}

.function {
  height: 40px;
  float: right;
  margin-top: -4rem;
  ul {
    @include li-reset;
    li {
      font-size: 1em;
      margin: 0 0.2em;
      flex: 0 0 40px;
      a {
        display: block;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        background: $primaryColor;
        text-indent: -9999px;
        position: relative;
        &:hover,
        &:focus {
          background: $aHover;
          color: #fff;
        }
        &:before {
          content: '';
          position: absolute;
          width: 60%;
          height: 60%;
          top: 20%;
          left: 20%;
          filter: invert(100%);
        }
      }
      &.back {
        a:before {
          background: url(../images/basic/icon_back-style2.svg) no-repeat center center;
          background-size: 100%;
        }
      }
    }
  }
}