//header
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s ease-out;
  padding-top: 35px;
  @extend %clearfix;
  @include screen('mobile') {
    position: fixed;
    width: 100%;
    padding-top: 0;
  }
  // mobile btn for extend
  %mobileCtrlBtn {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 0px;
    display: block;
    font-size: 0em;
    padding: 15px;
    margin: 0;
    min-width: auto;
    min-height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    @include screen('mobile') {
      display: block !important;
    }
  }
  >.container {
    max-width: $container-max;
    overflow: visible;
    position: relative; // menu
    .sidebarCtrl {
      display: none;
      left: 0px;
      @extend %mobileCtrlBtn;
      span {
        position: absolute;
        background: $primaryColor;
        width: 50%;
        height: 3px;
        top: 20px;
        left: 50%;
        margin-left: -25%;
        display: block;
        border-radius: 2px;
        &:nth-child(2) {
          top: 28px;
        }
        &:nth-child(3) {
          top: 36px;
        }
      }
    }
    // search
    .searchCtrl {
      display: none;
      right: 0px;
      font-size: 0em;
      @extend %mobileCtrlBtn;
      &:before {
        width: 40px;
        height: 40px;
        background: url(../images/basic/icon_search.png) no-repeat center center;
        background-size: 28px;
        opacity: 0.6;
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
      }
    }
  }
  h1 {
    float: left;
    width: 300px;
    height: 75px;
    margin: 0 0 0 50px;
    padding: 0;
    box-sizing: border-box;
    @media screen and (max-width: 810px) {
      margin: 0 0 0 30px;
    }
    a {
      display: inline-block;
    }
    img {
      display: block;
      max-width: 300px;
      max-height: 75px;
    }
    @include screen('mobile') {
      padding: 2px 60px;
      width: 100%;
      text-align: center;
      height: 60px;
      img {
        width: auto;
        height: auto;
        max-height: 54px;
        margin: 5px auto;
        width: 100%;
      }
    }
  }
  .navigation {
    float: right;
    margin-top: 5px;
    margin-right: 50px;
    @media screen and (max-width: 810px) {
      margin-right: 30px;
    }
    @include screen('mobile') {
      display: none;
    }
    ul {
      @include li-reset;
      li {
        float: left;
        margin-right: 8px;
        a {
          padding: 8px 18px 8px 54px;
          background: $primaryColor;
          position: relative;
          display: block;
          color: #fff;
          font-weight: bold;
          border-radius: 30px;
          span {
            position: absolute;
            left: 10px;
            top: -4px;
            img {}
          }
          &:hover,
          &:focus {
            background: $secondaryColor;
          }
        }
      }
    }
  }
}