// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
// 選項次層
.np {
  ul,
  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 1em 0;
    list-style-type: none;
  }
  li {
    flex: 1 1 48%;
    margin-bottom: 10px;
    border-radius: 5px;
    &:nth-child(odd) {
      margin-right: 10px;
    }
    @include screen('mobile') {
      flex: 1 1 100%;
      &:nth-child(odd) {
        margin-right: 0;
      }
    }
    a {
      border-radius: 30px;
      padding: .5rem .5rem .5rem 4rem;
      background: #dcecf0 url(../images/icon_list.png) no-repeat .9rem center;
      background-size: 24px;
      display: flex;
      align-items: center;
      vertical-align: top;
      position: relative;
      height: 100%;
      box-sizing: border-box;
      @include aSetting_nocolor;
      // @include text-overflow;
      border: 2px solid #fff;
      //   .num {
      //     width: 1.5em;
      //     text-align: right;
      //     position: absolute;
      //     top: 0.5rem;
      //     left: 2rem;
      //     &:after {
      //       content: '.';
      //     }
      //   }
      &:hover,
      &:focus {
        border: 2px solid $primaryColor;
      }
    }
  }
}