/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
a.more {
  display: block;
  width: 10em;
  text-align: center;
  height: 2.5em;
  margin: .5em auto .5em;
  line-height: 2.5;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  &:after {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #FFF;
    transform: rotate(45deg);
    position: absolute;
    right: -10px;
    top: 14px;
    border-left: none;
    border-bottom: none;
    transition: .3s ease-out;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primaryColor;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover,
  &:focus,
  &.active {
    color: white;
    &:before {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    &:after {
      right: 15px;
    }
  }
}

.toy,
.bookcase,
.bookshelf,
.teacher,
.kids1,
.kids2,
.kids3 {
  position: absolute;
  z-index: 10;
}

.toy {
  width: 112px;
  height: 192px;
  background: url(../images/toy.png) no-repeat;
  top: -20px;
  left: -60px;
  @media screen and (max-width: 700px) {
    left: -30px;
  }
  @media screen and (max-width: 640px) {
    left: 0;
  }
}

.bookcase {
  width: 145px;
  height: 249px;
  background: url(../images/bookcase.png) no-repeat;
  left: 50px;
  bottom: 234px;
  @media screen and (max-width: 810px) {
    left: 30px;
  }
  @include screen('mobile') {
    display: none;
  }
}

.bookshelf {
  width: 136px;
  height: 53px;
  background: url(../images/bookshelf.png) no-repeat;
  left: 60px;
  bottom: 520px;
  @media screen and (max-width: 810px) {
    left: 30px;
  }
  @include screen('mobile') {
    display: none;
  }
}

.teacher {
  width: 213px;
  height: 386px;
  background: url(../images/teacher.png) no-repeat;
  right: 5%;
  bottom: 140px;
  @media screen and (max-width: 830px) {
    right: 30px;
  }
  @media screen and (max-width: 755px) {
    bottom: 190px;
  }
  @media screen and (max-width: 640px) {
    right: 10px;
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.kids1 {
  width: 193px;
  height: 269px;
  background: url(../images/kids1.png) no-repeat;
  left: 20%;
  bottom: 140px;
  @media screen and (max-width: 980px) {
    left: 15%;
  }
  @media screen and (max-width: 900px) {
    left: 10%;
  }
  @media screen and (max-width: 830px) {
    left: 30px;
  }
  @media screen and (max-width: 755px) {
    bottom: 190px;
  }
  @include screen('mobile') {
    left: 15%;
  }
  @media screen and (max-width: 640px) {
    left: 8%;
  }
  @media screen and (max-width: 460px) {
    left: 50%;
    margin-left: -96px;
  }
  @media screen and (max-width: 345px) {
    bottom: 210px;
  }
}

.kids2 {
  width: 192px;
  height: 274px;
  background: url(../images/kids2.png) no-repeat;
  left: 50%;
  margin-left: -100px;
  bottom: 140px;
  @media screen and (max-width: 980px) {
    left: 48%;
  }
  @media screen and (max-width: 900px) {
    left: 46%;
  }
  @media screen and (max-width: 830px) {
    left: 42%;
  }
  @media screen and (max-width: 755px) {
    bottom: 190px;
  }
  @include screen('mobile') {
    left: 45%;
    margin-left: 0;
  }
  @media screen and (max-width: 560px) {
    right: 8%;
    left: auto;
  }
  @media screen and (max-width: 460px) {
    display: none;
  }
}

.kids3 {
  width: 192px;
  height: 269px;
  background: url(../images/kids3.png) no-repeat;
  right: 20%;
  bottom: 140px;
  @include screen('mobile') {
    display: none;
  }
}

.blackboard {
  position: relative;
  background: url(../images/blackboard.png) no-repeat;
  width: 557px;
  height: 309px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  @media screen and (max-width: 560px) {
    width: 94%;
    background-size: contain;
    align-items: flex-start;
  }
  @media screen and (max-width: 470px) {
    height: 260px;
  }
  @media screen and (max-width: 382px) {
    padding: 0 10%;
  }
  .toy {
    z-index: 13;
    @media screen and (max-width: 560px) {
      display: none;
    }
  }
  ul {
    display: inline-block;
    @include li-reset;
    margin: 0 0 0 1.5rem;
    font-size: 2rem;
    line-height: 100%;
    @media screen and (max-width: 560px) {
      margin: 4rem 0 0 0;
    }
    @media screen and (max-width: 486px) {
      margin: 3rem 0 0 0;
    }
    @media screen and (max-width: 382px) {
      margin: 2rem 0 0 0;
    }
    li {
      text-align: center;
      position: relative;
      float: left;
      margin: 1rem 2rem;
      @media screen and (max-width: 538px) {
        margin: 1rem 6%;
      }
      @media screen and (max-width: 486px) {
        margin: 1rem 5%;
      }
      @media screen and (max-width: 470px) {
        margin: 1rem 4%;
      }
      @media screen and (max-width: 452px) {
        margin: 1rem 3%;
      }
      @media screen and (max-width: 438px) {
        margin: .8rem 1.5%;
        font-size: 1.75rem;
      }
      @media screen and (max-width: 382px) {
        margin: .8rem 3%;
      }
      @media screen and (max-width: 345px) {
        font-size: 1.5rem;
        margin: .5rem 3%;
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 16px;
        background: #0f4c35;
        z-index: 9;
        bottom: -10px;
      }
      a {
        color: #fff;
        font-weight: bold;
        text-shadow: 2px 2px 0px #118a78;
        z-index: 12;
        position: relative;
      }
      &:hover,
      &:focus {
        &:before {
          background: $secondaryColor;
        }
      }
    }
  }
}