.breadcrumb {
  padding: 0.4rem;
  font-size: .813em;
  margin: 0px auto 1rem;
  background: #dcecf0;
  border-radius: 9px;
  ul {
    @include li-reset;
    li {
      display: inline-block;
      margin: 0px .1em .1em 0px;
      &:before {
        @extend %slash;
      }
      &:first-child:before {
        content: "";
        display: inline-block;
        color: #fff;
        margin-left: 0;
        padding: 0;
      }
    }
  }
  a {
    @include aSetting_nocolor;
  }
}